#events {
    width: 100%;
  }

h1{
    margin: 20px;
}

.thumbnail {
    padding: 20px;
}

.thumbnail p {
    color: black;

}
#capeTown{
margin-bottom: 0px;
}
.bg-1 {
  background: #70e1f5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width:100%;

    color: #bdbdbd;

}
.bg-1 h3 {color: pink;}
.bg-1 p {font-style: italic;}


.btn {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 0;
    transition: .2s;
    font-family: 'Roboto Slab', serif;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
#map {
  border-style: solid;
  height: 50%;
  width: 75%;
  margin-top: 20px;
}
#wrapper {
  width: 100%;
}
#googleMaps {
  width: 100%;
  background: #70e1f5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.text-center {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 4px;
  text-shadow: -1px 0px 10px rgba(0, 0, 0, 1);
  color: black;
}
@media only screen and ( max-width: 1200px) {
    .col-sm-2{
        width: 33.3%;
    }
    h1{
        font-size: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .col-sm-2{
        width: 50%;
        margin: 0 auto;

    }
    h1{
        font-size: 25px;
    }
}
